.page {
  display: flex;
}

.content {
  margin: auto;
  display: grid;
  grid-template: 534px/ 711px 399px;
  gap: 30px;
  align-items: flex-end;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.result__video-container {
  position: relative;
}

.result__video {
  width: 100%;
  height: 386px;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: grid;
  grid-template-columns: 225px 212px 194px;
  gap: 40px;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  margin-bottom: 5px;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  width: fit-content;
  cursor: pointer;
  width: 100%;
}

.search-form__label:hover .search-form__label-text{
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
}

.search-form__label:has(:focus-visible){
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__label-text {
  font-size: 18px;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
}

.search-form__textfield {
  appearance: none;
  background-color: transparent;
  border: none;
  border-top: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
  width: 100%;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.search-form__textfield:focus{
  outline: none;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox{
  width: 19px;
  height: 19px;
  outline-offset: 2px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
}

.search-form__pseudo-checkbox {
  position: relative;
  height: 19px;
  width: 19px;
  outline: 1px solid #fff;
}

.button {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  text-align: center;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

.button:active{
  background-color: #545050;
}

.button:hover{
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
}

.button:focus{
  outline: none;
}

.button:focus-visible{
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__submit-button {
  width: 100%;
  align-self: flex-end;
  padding: 6px 75px;
}

.content__details {
  min-height: 534px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  color: #fff;
  font-family: Oswald, sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  max-height: 300px;
  overflow-y: auto;
}

.content__list-item:not(:last-child){
  margin-bottom: 30px;
}

.content__card-link {
  margin: 2px;
  padding: 2px;
  display: block;
  color: #fff;
  text-decoration: none;
}

.content__card-link:active{
  background-color: #545050;
}

.content__card-link:hover{
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
}

.content__card-link:focus{
  outline: none;
}

.content__card-link:focus-visible{
  outline: 1px solid #fff;
}

.content__card-link_current{
  background-color: #545050;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  height: 103px;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  overflow: hidden;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.content__video-card-description {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 16.2px;
}

.content__video-card-thumbnail{
  min-width: 194px;
  object-fit: cover;
}

.more-button {
  width: 100%;
  padding: 6px 0;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}
